h1 {
  text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio {
  margin-bottom: 10px;
}

.input-container {
  margin-bottom: 20px;
}

.tombol {
  margin: 10px;
  background-color: green;
}

.reset {
  background-color: red;
}
